#EL_RIO_NAZASStage {
                  width:1280px;
			      height:720px;
			      transform-origin: top left;
			      transition: all 100ms ease-in-out !important;
			      position: absolute;  
			    }