@import url("https://fonts.googleapis.com/css?family=Montserrat:100");
#MAPA_AGUA_SUSTENTABLEStage {
                  width:1280px;
			      height:720px;
			      transform-origin: top left;
			      transition: all 100ms ease-in-out !important;
			      position: absolute;  
			    }